@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --shiki-color-text: theme('colors.white');
        --shiki-token-constant: theme('colors.emerald.300');
        --shiki-token-string: theme('colors.emerald.300');
        --shiki-token-comment: theme('colors.zinc.500');
        --shiki-token-keyword: theme('colors.sky.300');
        --shiki-token-parameter: theme('colors.pink.300');
        --shiki-token-function: theme('colors.violet.300');
        --shiki-token-string-expression: theme('colors.emerald.300');
        --shiki-token-punctuation: theme('colors.zinc.200');
    }

    @layer utilities {
        ::-webkit-scrollbar {
            width: 4px;
            height: 8px;
        }

        ::-webkit-scrollbar-thumb {
            background-color: theme(colors.brand.400);
            border-radius: 4px;
        }

        ::-webkit-scrollbar-track {
            background-color: theme(colors.zinc.100);
        }

        :root.dark ::-webkit-scrollbar-thumb {
            background-color: theme('colors.brand.600')
        }

        :root.dark ::-webkit-scrollbar-track {
            background-color: theme('colors.zinc.800');
        }

        ::selection {
            background-color: theme('colors.brand.400');
        }

        :root.dark ::selection {
            background-color: theme('colors.brand.600');
        }


    }
}
